<div id="pie-container">
  <div class="pie">
    <% @language_data.each do |language| %>
      <div class="pie__segment"></div>
    <% end %>
  </div>
</div>    


<div id="hidden-variable-container">
  <% @language_data.each do |language| %>
    <div class="hidden-pie-variable"><%= language[:pie_data] %></div>
  <% end %>
</div>
